html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}



#content-wrap {
  padding-bottom: 2.5rem;    /* Footer height */
}


body {
font-family: 'Lato', sans-serif;
    font-size:15px;
    font-weight: 300;
      letter-spacing: .19px;
    line-height: 1.4;
    background-color: #F2F1ED;
    }

.indexbio h1 {font-size:24px;
    letter-spacing: 1px;
font-family: 'Playfair Display', serif;
font-weight: 400;
font-style: italic;
padding-bottom: 10px;}

body h1 {font-size:20px;
    letter-spacing: 1px;
font-family: 'Playfair Display', serif;
font-weight: 300;
font-style: italic;
padding-bottom: 5px;
}

h3 {font-size:20px;
font-family: 'Lato', sans-serif;
font-weight: 300;
font-style: italic;
padding-bottom: 15px;}

body h6 {font-size:25px;
font-family: 'Playfair Display', serif;
font-weight: 500;
    font-style: italic;
    letter-spacing: 1px;
padding-bottom: 5px;
}

 h8 {font-size:15px;
font-family: 'Playfair Display', serif;
font-weight: 500;
    font-style: italic;
    letter-spacing: 1px;
margin-bottom: 10px;
}

 h9 {font-size:17px;
font-family: 'lato', sans-serif;
font-weight: 200;
    letter-spacing: 1.15px;
margin-bottom: 10px;
     line-height: 25px;
}

body p {
padding-bottom: 17px;
}
.main {padding-top:23%;
    width:80%;
    margin-left:auto;
    margin-right:auto;
}


nav{
  position:fixed;
    text-align: center;
    padding-top:20px;
    width:100%;
         z-index: 9999;
    background: rgba(242, 241, 237, .92)}
#Logo{
  transition: all 0.3s;
  margin-left:auto;
  margin-right:auto;
}
.largeLogo{width: 60%;}
.smallLogo{width: 20%;}

.table {
	display: table;   /* Allow the centering to work */
	margin: 0 auto;
}

ul#horizontal-list {
	min-width: 300px;
	list-style: none;
	padding-bottom: 7px;
    padding-top: 4px;
	}

	ul#horizontal-list li {
		display: inline;
	}
ul#horizontal-list a {
		color: black;
    text-decoration: none;
    padding: 3%;
    font-size: 15px;
    font-style: normal;
	}

ul#horizontal-list a:hover {
		color:#C7D0D5;
	}

a {
		color: black;
    text-decoration: none;
    font-size: 16px;
	}

a:hover {
		color:#C7D0D5;
	}

.doulapic img {width: 100%}

.txt {flex: 80%; text-align: center;
padding-right:10%;}
@media (max-width: 629px) {
  .txt
    {padding-left:30px;
    padding-right:30px;}}

.babyfeet{margin-bottom: -5px;
    margin-top:150px;
}
.babyfeet img {width:100%;
height: auto;}

@media (max-width: 629px) {
  .flowerpic
    {display: none;}}

@media (min-width: 629px) {
  .flowerpic1
    {display: none;}}

.contact {
  margin-left:auto;
  margin-right:auto;
    margin-top:60px;
    max-width: 300px;
    max-height: 350px;
    padding-bottom: 220px; 
    display: flex;
display: table;}

.contact > div {2%}

.contactimage {}
.contactimage img {max-height:200px;
padding-right:20px;}
.contactinfo {
  height: 100%;
  width: 100%;
  display: table-cell;
  vertical-align: middle;}
.contactinfo p {margin-bottom:-10px;}
.contactinfo h1 {margin-bottom:4px;}
.aboutcontainer {display: grid;
    grid-template-columns: 40% 60%;
    grid-row-gap: 20px;
    max-width: 800px;
      margin-left:auto;
  margin-right:auto;
        margin-top: 50px;
}


.abouttext {padding-left:20px;}
.aboutphoto {}
.aboutphoto img{width:100%}


.mainwrapper {
    margin-top:60px;
    margin-left: auto;
    margin-right:auto;
    margin-bottom:60px;
    max-width:950px;
    display: flex;
}

.mainwrapper > div {
  margin: 2%;
}


@media (max-width: 629px) {
  .mainwrapper
    {flex-direction: column;}}

  .indexpic {
flex:40%;
    max-height: 100%;}
.indexpic img {width:100%;}
  .indexbio {
flex:50%;
  }

.creditwrapper {
    margin-bottom:180px;
    margin-top:0px;
    max-width:868px;
    margin-left: auto;
    margin-right: auto;}

.credittext p {font-size:16px;
font-style: italic;
}

ul#services {
  list-style-position: outside;
    list-style-type: "\2219";
    margin-left: 20px;
	}

ul#services li {padding:5px;}

.servicesstrip{
width:100%;
    margin-left: auto;
margin-right: auto;
    background-color: #ebe2d5;
    padding:0px;
    margin-top:30px;
    padding-left:15px;

}

.educationwrapper {padding:40px;}
 


.services {margin-top: 60px;
    max-width:1000px;
display: flex;
width: 100%;
margin-left: auto;
margin-right: auto;
padding-bottom:170px;}
.servicesleft {flex: .9;}
.servicesleft img {width: 100%;}
.servicesright {flex: 1.05;}

.services a {font-style: italic;}

.services > div {
  margin: 2%;
}

@media (max-width: 750px) {
  .services
    {flex-direction: column;}}

.introwrapper > div {
  margin: 3%;
}

.introwrapper0 > div {
  margin: 3%;
}

.introwrapper1 > div {
  margin: 3%;
}

.introwrapper2 {margin-bottom:10px;}
.introwrapper1 {
    display: flex;
    margin-top:40px;
max-width: 900px;
margin-left:auto;
margin-right: auto;
padding-top:4%;
padding-bottom:90px;
align-content: center;}
.introright1 {flex:60%;}
.introright1 img{width:100%; height:100%}
.introleft1 {flex:40%;}
.introleft1 img{width:100%;}

@media (max-width: 629px) {
  .introwrapper1
    {padding-top:80px;}}

@media (max-width: 629px) {
  .introwrapper, .introwrapper1, .introwrapper0
    {flex-direction: column;}}

h5 {font-size:60px;
    letter-spacing: 0px;
font-family: 'Playfair Display', serif;
    letter-spacing: 2px;
font-weight: 600;
font-style: italic;
padding-bottom: 5px;}


.introwrapper {display: flex;
max-width: 900px;
margin-left:auto;
margin-right: auto;}
.introright {flex:50%;}
.introright img{width:100%; height:100%}

.introleft {flex:50%;}
.introleft img{width:100%; height:100%}


.introwrapper0 {display: flex;
max-width: 900px;
margin-left:auto;
margin-right: auto;
padding-bottom:90px;}
.introright0 {flex:50%;}
.introleft0 {flex:50%;}


/* footer */

.footer-clean {
    padding:50px;
    display: flex;
    margin-left: auto;
    margin-right: auto;
  background-color: #e1e9eb;
}

hr {
    background: #5e5a54;
    height: 1px;
    border: 0px;
    opacity: 0.5
   }

.footerwrapper {
    align-content: center;
width:100%}

.flowerpic {flex:1;
margin-right:40px;}
.flowerpic img {max-width: 100%}
.copyright {
  margin-top:14px;
  margin-bottom:0;
  font-size:13px;
  opacity:0.6;
    text-align: center
}

.flowerpic1 {flex:1;
margin-top:30px;}
.flowerpic1 img {max-width: 60px;}

.footerflex {
    margin-left: auto;
    margin-right: auto;
    display: flex;
padding-bottom:40px;
    width:100%;
    max-width:450px;}

@media (max-width: 629px) {
  .footerflex
    {flex-direction: column;
    margin-left:0px;
    text-align: center}
.footerlinks 
    {padding-bottom:10px;}
    .footercontact {flex:1}}


.footerlinks {flex:2;}
.footerlinks a {    color: #5e5a54;}
.footercontact {flex:3}
.footerquote {padding-top:30px;
max-width: 700px;
margin-left:auto;
margin-right:auto;}
.footerquote p {font-style: italic;
font-size:15px;
    text-align: center;
letter-spacing: 1.1px;}

.footer-clean {color: #5e5a54}
.footer-clean h3 {
  margin-top:0;
  margin-bottom:-10px;
  font-weight:bold;
  font-size:16px;
}

.footer-clean ul {
  padding:0;
  list-style:none;
  line-height:1.6;
  font-size:14px;
  margin-bottom:0;
}

.footer-clean ul a {
    color: #5e5a54;
    text-decoration:none;
  opacity:0.8;
}

.footer-clean ul a:hover {
  color:black
}


@media (max-width:767px) {
  .footer-clean .item {
    text-align:center;
    padding-bottom:20px;
  }
}

@media (max-width: 768px) {
  .footer-clean .item.social {
    text-align:center;
  }
}





.module {
    width:100%;
    margin-left: auto;
margin-right: auto;
    background-color: #ebe2d5;
        max-width: 800px;
    margin-bottom:50px;
  &:nth-child(even) {
      margin-right: 0;}}

.indexstrip {padding-top:40px;
padding-bottom: 40px;
padding-left:60px;
padding-right:60px;}
 
.come-in {
  transform: translateY(250px);
  animation: come-in 1s ease forwards;
}
.come-in:nth-child(odd) {
  animation-duration: 1s;
}
.already-visible {
  transform: translateY(0);
  animation: none;
}

@keyframes come-in {
  to { transform: translateY(0); }
}

